# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RogueLike.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\scryptan\UnityProjects\RogueLike\.idea\.idea.RogueLike\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
